.bar {
    background: #2D0646 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px 0px 0px 15px;
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 100;
}

.align {
    display: block;
}

.small {
    width: 18px;
    height: 18px;
    margin: 10px;
}