@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body {
  margin: 0;
  padding: 0;
  font: 'Poppins';
  font-family: normal, 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --bg-content: #4F0480;
  --btn-g: #FA2A6C;
  --btn-d: #6F2A9D;
  --text: #ababab;
  --wh: #fff;
}